<div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <input type="text" #title class="form-control" placeholder=" Enter the Title/Name"><br>
            <input type="number" #amount class="form-control" placeholder="Enter the amount"><br>
            <input type="datetime-local" #date class="form-control" placeholder="Enter the Date with Time"><br>
            <input type="text" #comment class="form-control" placeholder="Comments, if any!"><br>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-2">
            <input type="button" [disabled]="action.credit" class="btn btn-primary" (click)="submitData('credit')" value="Credited"/>
        </div>
        <div class="col-xs-2">
            <input type="button" [disabled]="action.debit" class="btn btn-warning" (click)="submitData('debit')" value="Debited"/>
        </div>
        <div class="col-xs-2">
            <input type="button" [disabled]="action.lend"  class="btn btn-info" (click)="submitData('lend')" value="Lended"/>
        </div>
        <div class="col-xs-2">
            <input type="button" [disabled]="action.debt"  class="btn btn-danger" (click)="submitData('debt')" value="Debted"/>
        </div>
        <div class="col-xs-2">
            <input type="button"  class="btn btn-default" (click)="clearForm()" value="Clear"/>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>