<div class="container account-data-entry">
  <div class="row">
    <div class="col-xs-12"><h2> Data Entry Section </h2></div>
    <div>
      <div class="col-xs-6 input-component">
        <input class="form-control" type="text" #name placeholder="Name of person/shop/etc" data-toggle="tooltip" data-placement="top" title="Enter the Person name or Shop name as per convinient"><br>
        <input class="form-control" type="number" #amount placeholder="Amount" data-toggle="tooltip" data-placement="top" title="Enter the Amount"><br>
        <input class="form-control" type="datetime-local" #date data-toggle="tooltip" data-placement="top" title="Add Date/Time value as DD-MM-YYYY HH:MM"><br>
      </div>
      <div class="col-xs-6 input-component action-buttons">
        <button type="button" class="btn btn-default" (click)="onClear()"> Clear </button><br>
        <button type="button" class="btn btn-success" (click)="onSubmitData('credited')"> Credited </button>
        <button type="button" class="btn btn-danger" (click)="onSubmitData('debited')"> Debited </button>
        <button type="button" class="btn btn-primary" (click)="onSubmitData('lended')"> Lended </button>
        <button type="button" class="btn btn-warning" (click)="onSubmitData('debted')"> Debted </button><br>
      </div>
    </div>
  </div>
</div>