<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h2 style="text-align: center;">Debit Amount</h2>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"> # </th>
                        <th scope="col"> Name </th>
                        <th scope="col"> Amount </th>
                        <th scope="col"> Date </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let record of data; let pos = index">
                        <th scope="row"> {{ pos }} </th>
                        <td> {{ record.name }} </td>
                        <td> {{ record.amount }} </td>
                        <td> {{ record.date }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3> Total: <span> {{ total }} </span></h3>
        </div>
    </div>
</div>