<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h2> {{ title }} </h2>
        </div>
        <div class="col-xs-4">
            <h2 style="text-decoration: underline;"> {{ total }} </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"> # </th>
                        <th scope="col"> Title </th>
                        <th scope="col"> Credit </th>
                        <th scope="col"> Debit </th>
                        <th scope="col"> Lend </th>
                        <th scope="col"> Debt </th>
                        <th scope="col"> Net Balance </th>
                        <th scope="col"> Comment </th>
                        <th scope="col"> Date </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of data; let pos = index;">
                        <td scope="row"> {{ pos }} </td>
                        <td scope="row"> {{ account.getTitle() }} </td>
                        <td scope="row" *ngIf="account.type=='credit'; then showAmount; else hideAmount;"> credit </td>
                        <td scope="row" *ngIf="account.type=='debit'; then showAmount; else hideAmount;">  </td>
                        <td scope="row" *ngIf="account.type=='lend'; then showAmount; else hideAmount;">  </td>
                        <td scope="row" *ngIf="account.type=='debt'; then showAmount; else hideAmount;">  </td>
                        <td scope="row"> {{ account.getNetAmount() }} </td>
                        <td scope="row"> {{ account.getComment() }} </td>
                        <td scope="row"> {{ account.getDate() }} </td>
                        <ng-template #showAmount><td scope="row"> {{ account.getAmount() }} </td></ng-template>
                        <ng-template #hideAmount> <td></td> </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <input type="button" value="Add Transaction" class="btn btn-success" (click)="addTransaction()">
        </div>
    </div>
</div>