<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard/total']">
        <span class="navbar-brand-span"> Accountability </span>
      </a>
      <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard/credit']">
        <span class="navbar-brand-span"> Credited Amount </span>
      </a>
      <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard/debit']">
        <span class="navbar-brand-span"> Debited Amount </span>
      </a>
      <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard/lend']">
        <span class="navbar-brand-span"> Lended Amount </span>
      </a>
      <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard/debt']">
        <span class="navbar-brand-span"> Debted Amount </span>
      </a>
      <!-- <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/addTransaction']">
        <span class="navbar-brand-span"> Add Transaction </span>
      </a> -->
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12 containers">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>